<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <h1>
                Todo
            </h1>
            <div v-if="!isEditing">

                <input type="input" v-model="todo"/>
                <input type="submit" value="add" @click="storeTodo" />
            </div>
            <div v-else>
                <input type="input" v-model="todo"/>
                <input type="submit" value="update" @click="updateTodo()" />
            </div>

            <ol>
                
                <li v-for="(todo, index) in todos" >
                    {{todo}}
                    <button @click="editTodo(todo, index)" >Edit</button>
                    <button @click="deleteTodo(index)" >Delete</button>
                </li>
            </ol>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                todo:'',
                todos:["new course", "revise old course","go to shop"],
                isEditing:false,
                selectedIndex:0
            },
            methods:{
                storeTodo(){
                    this.todos.push(this.todo)
                    this.todo = ''
                },
                deleteTodo(index){
                    this.todos = this.todos.filter((value, i)=>i!=index)
                },
                editTodo(todo, index){
                    this.selectedIndex = index
                    this.isEditing = true
                    this.todo = this.todos[this.selectedIndex]
                },
                updateTodo(index){
                    this.todos[this.selectedIndex] = this.todo
                    this.todo = ''
                }
            }
        })
    </script>
</body>
</html>
